# Format: YAML
# Encoding: UTF-8
MySQL:
  Username: *removed*
  Password: *removed*
  Address: *removed*
  Port: 3306
  Database: *removed*
  # Pool connections amount: default 100
  PoolSize: 100
  # Pool connections overflow amount: default 2000, infinity -1
  PoolOverflow: 2000
  # Pool blocking timeout (seconds): default 30
  PoolTimeout: 30
