# Format: YAML
# Encoding: UTF-8
MySQL:
  Username: comp9900
  Password: not_tasty
  Address: gcp.x-zhou.com
  Port: 3306
  Database: dream
  # Pool connections amount: default 100
  PoolSize: 100
  # Pool connections overflow amount: default 2000, infinity -1
  PoolOverflow: 2000
  # Pool blocking timeout (seconds): default 30
  PoolTimeout: 30
