# Format: YAML
# Encoding: UTF-8
Project:
  Categories:
    - Other
    - Web
    - Desktop
    - Mobile
    - Library
    - Mod
    - Research
  Categories_description:
    - All others
    - A web based application.
    - A desktop application, including cross-platform desktop application.
    - A mobile application, including any mobile device and environment.
    - A library for other project to reference.
    - A modification to existing platform.
    - A research oriented project.
Role:
  Skills:
    - Web Development
    - Java
    - Python
    - PHP
    - Script Language
    - Database Management
    - Computer Vision
    - Security Engineering
    - Testing
    - Algorithm Design
    - Operating System
    - Data Science
    - Human Computer Interaction
    - Deep Learning/Neural Network
    - Distributed System
